.info {
    background: #d9edf7;
    color: #31708f;
    padding: 15px;
    margin-bottom: 20px;
    border-bottom: 5px solid #bce8f1;
    display: flex;
}

.info::before {
    color: inherit;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' viewBox='0 0 15 15'%3E%3Cpath fill='%2331708f' fill-rule='evenodd' d='M7.5.88a6.62 6.62 0 1 0 0 13.24A6.62 6.62 0 0 0 7.5.88ZM1.83 7.5a5.67 5.67 0 1 1 11.34 0 5.67 5.67 0 0 1-11.34 0Zm6.42-3a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM6 6h1.5c.28 0 .5.22.5.5V10h1v1H6v-1h1V7H6V6Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    display: block;
    padding-right: 10px;
    padding-top: 2px;
    height: 0px;
}